<div class="container">
  <div class="row">

    <% @farms.each do |farm| %>
      <div class="col-xs-12 col-sm-4">
        <div class="frame-cards">
          <%= link_to farm_path(farm) do %>
            <div class="cards" style="background-image: url('https://images.pexels.com/photos/158179/lake-constance-sheep-pasture-sheep-blue-158179.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb');">
              <span class="cards-category">FARMCARD</span>
               <div class="cards-description">
                  <h2><%= farm.name %></h2>

                </div>
              </div>
          <% end %>
          <div class="card-footer">
            <p><%= farm.address %> + insert @order.rating</p

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
