<div class="container">
  <div class="row">
    <% @farms.each do |farm| %>
      <div class="col-sm-4">
        <div class="card-container">
          <%= link_to farm_path(farm) do %>
            <div class="card" style="background-image: url('<%= farm.photo %>');">
              <h2><%= farm.name %></h2>
            </div>
          <% end %>
          <div class="info">
            <p><%= farm.address %> + insert @order.rating</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
