 <div class="cards">
                <span class="cards-category">FARMCARD</span>
                  <div class="cards-description">
                  <h3>FARM NAME</h3>
                  <p>some stuff here</p>
                </div>
                <img src="http://placehold.it/50x50" alt="" class="avatar cards-image">
              </div>
            </div>

