.orders {
  margin: 100px 25px;

  h1 {
    color: $gray;
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: 50px;
    text-align: center;
  }

  h2 {
    color: $gray;
    font-size: 30px;
    margin: 0 0 50px 0;
  }
}
