<div class="banner">
  <div class="banner-content">
    <h1>Farmland</h1>
    <p class="description">Localize the best products from local farms around you and get healthy food delivered.</p>
    <%= link_to 'Browse farms' , '#', class: 'btn btn-lg btn-primary' %>
  </div>
</div>


