.banner {
  background: black;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 200px 25px;
  height: calc(100vh - 70px);

  @media(min-width: 768px) {
    height: 600px;
  }

  .banner-content {

    h1 {
      color: white;
      font-size: 50px;
      font-weight: lighter;
    }

    .description {
      color: rgba($white,0.8);
      font-size: 24px;
      margin: 25px 0;

    }

    @media(min-width: 768px) {
      margin: 0 200px;
    }
  }
}
