.card-container {
  background-color: $light-gray;
  border-radius: 5px;
  margin: 10px;
  min-height: 200px;
  padding: 10px;

  .card {
    background: linear-gradient(135deg,
      rgba($gray, 0.8) 0%,
      rgba($gray, 0.3) 50%),
      url("https://unsplash.it/300/250");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    height: 190px;
    margin: 0 auto;
    padding: 10px;
    position: relative;

    h2 {
      bottom: 0;
      color: white;
      position: absolute;
    }

    .info {
      background-color: $light-gray;
      border-radius: 4px;
      color: $gray;
      height: 70px;
      margin: 10px 5px;
      text-align: center;
    }
  }
}
