.card-container {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  min-height: 200px;
  margin: 20px 0 0 0;
  position: relative;


  .card {
    border-radius: 5px 5px 0 0;
    bottom: 10px;
    left: 10px;
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    width: 100%;

    h2 {
      color: white;
      font-size: 20px;
      margin: 0;
    }

    span {
      color: white;
      font-size: 14px;
    }
  }
}
