.card-container {
  background-color: $green;
  border-radius: 5px;
  min-height: 200px;
  padding: 10px;
  margin: 20px 0px;

  .card {
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    height: 190px;
    margin: 0 auto;
    padding: 10px;
    position: relative;

    h2 {
      bottom: 0;
      color: white;
      position: absolute;
    }


    .info {
      font-weight: bolder;
      background-color: $light-gray;
      color: $gray;
      height: 70px;
      margin: 10px 5px;
      text-align: center;

    }
  }
}
