form {
  label {
    color: $gray !important;
    font-size: 16px !important;
    font-weight: normal !important;
  }

  input:focus, select:focus {
    border: 1px solid $green !important;
    outline: none !important;
  }
}
